# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Bundle
client/dist/*bundle.js*
client/dist/*bundle.min.js*
